p{
    font-size: 50px;
    text-align: center;
}

div {
    width: 300px;
    height: 400px;
    margin: 0 auto;
}
input{
    width: 300px;
   border-color: aliceblue;
}
button{
    background-color: rgb(15, 107, 123);
}

   